form {}
	form li {float: left; clear: both; margin: 5px 0; width: 400px; position: relative;}
	.column-body form li li,
	form li li {clear: none; width: 190px;}
		form .field-domain div,
		.field input,
		.field textarea {position: relative; z-index: 2; background: transparent; @include boxshadow(rgba(0, 0, 1, 0.2), 0, 0, 3px, inset); @include corner(); font-size: 28px; color: $color_dark_gray; width: 351px; height: 38px; float: left; padding: 5px; letter-spacing: -1px; border: 1px solid rgba(0, 0, 0, 0.1); outline: none; @include transition(all, 0.15s, ease-out)}
		.field textarea {height: 200px; font: 18px "Calibri","Lucida Sans",Helvetica,Arial,sans-serif;}
		.field input.file {margin-right: 10px; width: 260px;}
		.field input[type=file] {cursor: pointer;}
		form .field-domain div {margin-bottom: 30px;}
		#frm-forgot-password input,
		#frm-sign-in input {width: 275px;}		
		
			// highlight field on focus
			form .field-domain div.focus,
			.field input:focus,
			.field textarea:focus {border-color: $color_light_blue;}			
			
			// highlight label on focus
			form .field-domain input:focus + span,
			form .field-domain input:focus ~ p > label, 
			.field input:focus + label,
			.field textarea:focus + label {opacity: 1; color: $color_dark_gray;}		
		form .field-domain input {border: 0; outline: none; font-size: 28px; color: $color_dark_gray; width: 240px; height: 38px; letter-spacing: -1px; text-align: right;}
		form .field-domain p {position: absolute; top: 50px; left: 0;}
		ul ul .field input {width: 160px; float: left; display: inline; margin-right: 20px;}
		label {color: $color_light_gray; opacity: 0.5; margin-top: 5px; font-size: 18px; float: left; clear: both; letter-spacing: -0.5px; @include transition(all, 0.15s, ease-out);}	
		#frm-sign-in label {color: #000;}
		form .domain,	
		form .hint {position: absolute; top: 22px; left: 8px; font-size: 20px; letter-spacing: -1px; color: #aaa; opacity: 0.45; z-index: 1;}		
		form textarea + label + .hint {top: 8px;}
		form .domain {float: right; margin: -55px 10px 0 0; position: relative; font-size: 28px}
		form .success ~ .icon-success,
		form .field-domain .success ~ p .icon-success {display: block;}
		form .icon-success {position: relative; top: 9px; left: 5px; display: none;}
		form .error ~ .icon-error,
		form .field-domain .error ~ p .icon-error {display: block}
		form .icon-error {position: relative; top: 9px; left: 5px; color: $color_light_pink; font-style: italic; padding-left: 18px; display: none; width: 180px;}
		#frm-sign-in .icon-error {float: left; display: block; margin: 20px 0; width: 100%; font-size: 16px; line-height: 16px;}
		form .forgot-password {position: relative; float: left; margin: 7px 0 0 5px; font-style: italic;}

// custom select menu
.ui-selectmenu { display: block; position:relative; float: left; top: 7px; height:2em; text-decoration: none; overflow:hidden;
		&:active {top: 10px;}
	}
.ui-selectmenu-icon { position:absolute; right:-2px; margin-top:-4px; top: 50%; }
.ui-selectmenu-menu { padding:0; margin:0; list-style:none; position:absolute; top: 0; visibility: hidden; overflow: auto; }
.ui-selectmenu-open { visibility: visible; }
.ui-selectmenu-menu-popup { margin-top: -1px; z-index: 2; width: 150px; background: #fff; border: 1px solid #eee; @include corner(); @include boxshadow(rgba(0, 0, 0, 0.5), 0, 0, 8px); @include transition(none, 0, linear);}
.ui-selectmenu-menu-dropdown { }
.ui-selectmenu-menu li { padding: 2px; margin:0; display: block; border-top: 1px solid rgba(0, 0, 0, 0.2); /*border-bottom: 1px solid #444;*/ font-weight: bold;
		&:first-child {border-top: 1px solid transparent;}
		&:last-child  {border-bottom: 1px solid transparent}
	}
.ui-selectmenu-menu-popup .ui-state-hover a {background: $color_light_blue; color: #fff; @include corner();}
.ui-selectmenu-menu li a,.ui-selectmenu-status {background: #fff; color: $color_dark_gray; height: auto; font-size: 12px; display:block; padding: 5px; @include corner(); @include transition(none, 0.15s, ease-out);}
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status {padding-left: 20px; position: relative; margin-left: 5px;}
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status {line-height: 1.4em; @include boxshadow(rgba(0, 0, 0, 0.5), 0, 0, 3px, inset); font-weight: bold; height: 14px}
.ui-state-active .ui-selectmenu-status {}
.ui-selectmenu-open li.ui-selectmenu-item-focus a {  }
.ui-selectmenu-open li.ui-selectmenu-item-selected a {background: $color_light_pink; color: #fff;}
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block}
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-content {  }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
/*for optgroups*/
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display:block; padding:.6em .5em 0; font-weight: bold; }
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }

		