@import "style.scss";

.column-body li {height: 140px; border-bottom: 1px solid rgba(32, 33, 31, 0.1); border-top: 1px solid #fff; border-left: 1px solid #fff; border-right: 1px solid #fff; padding: 25px 0;
//	&:hover {@include lineargradient(#fcfcfc, #f8faf3); @include corner(); border: 1px solid rgba(32, 33, 31, 0.2);}
	&.last,
	&:last-child {border-color: #fff}
//	&:hover:last-child {border: 1px solid rgba(32, 33, 31, 0.2);}
}

	// column none
	.column.none .column-body {height: 361px;}
		.column.none p {padding: 25px 0; margin: 0 auto; width: 580px; font-size: 24px; font-style: italic;}
		.column.none p a:hover {color: $color_light_pink;}
	// end column none

	.column-item-right a.title {font-size: 48px; color: $color_dark_gray; font-weight: normal; letter-spacing: -2px;
			&:hover {color: $color_light_pink;}
		}
	.meta {font-size: 14px;}
	.author {color: $color_light_gray;
			&:hover {color: $color_light_blue;}
		}
	
	.column-item-right .excerpt {margin-top: 5px; line-height: 18px; height: 56px; overflow: hidden;}
	.column-item-right .stats {position: absolute; right: 0; top: 9px; padding: 4px 8px; @include corner(); background: #f2f2f2;}
		.column-item-right .stats p {float: left; clear: both; margin: 2px 0;}
		.column-item-right .stats span {margin: 0 2px;}
		.column-item-right .stats .count {float: left; height: 17px; line-height: 17px;}
		


	// VIEWS SPECIFIC
	.views .column-item-left .thumb {margin-top: 6px; width: 143px; height: 108px; position: relative; left: 15px;}
		.views .column-item-left .thumb a:hover img {border: 2px solid $color_light_pink; margin: -2px 0 0 -2px;}
	.views .column-item-left .thumb.no-thumb {@include lineargradient(#eee, #ececec); @include boxshadow(rgba(0, 0, 0, 0.2), 0, 0, 2px); color: $color_dark_gray; @include corner();}
		.views .column-item-left .thumb .message {float: left; width: 100%; text-align: center; margin-top: 28px; font-size: 14px;}
			.views .column-item-left .thumb .message h4 {font-size: 18px; font-weight: bold;}
			.views .column-item-left .thumb .message a {color: $color_light_blue;
				&:hover {color: $color_light_pink;}
			}
		
		.views .column-item-left .thumb img {@include boxshadow(rgba(0, 0, 0, 0.3), 0, 0, 1px); width: 143px; height: 108px;}
	.views .column-item-left .tasks {float: left; display: inline; position: relative; top: 6px; left: 15px;}
	.views .column-item-left .tasks .icon {margin-right: 5px;}
	
	.detail.sidebar h2 {font-size: 36px; font-weight: normal; letter-spacing: -1px}
	.detail.sidebar .pie-chart dl {position: absolute; left: 170px; top: 60px; width: 135px;}
		.detail.sidebar .pie-chart dt {width: 105px;}
	.detail #pie-chart-project {float: none; left: -20px; top: -30px; margin-bottom: -55px;}
		.detail #pie-chart-project .percentage {float: none; left: 25px; position: relative; top: -17px; width: 115px; text-align: center; font-size: 18px; }
	
	// END VIEWS SPECIFIC
	
	// STATES SPECIFIC
	.annotate-preview-container {width: 100%; position: relative}
		.annotate-preview-container figure {margin: 0 auto; width: 290px; overflow: hidden}
			.annotate-preview-container figure img {width: 290px; @include boxshadow(rgba(0, 0, 0, 0.8), 0, 0, 2px)}				
		#annotate-preview {position: absolute; top: 0; left: 0; width: 290px;}
			#annotate-preview a {position: absolute; @include transition(none, 0.15s, ease-out); width: 15px !important; height: 17px !important; display: block !important;
				&.icon-note {opacity: 0.8;
						&.on,
						&:hover {opacity: 1}
					}
				&.icon-marker-complete {opacity: 0.3;}
				}			
	.state-details .btn-update-image {margin: 5px 0;}
			
	.states #table-annotations-container {}	
		.states #table-annotations-container .none {font-size: 24px;}
		.states .table-annotations {width: 580px; margin: 0 auto;}
		.states .wide .table-annotations {width: 900px;}
			.states .table-annotations th {font-weight: normal; line-height: 10px; margin-top: 10px; text-indent: 10px; cursor: pointer;}
			.states .table-annotations td {padding-left: 5px;}
			.states .table-annotations .table-column-priority {width: 30px; color: $color_dark_red; font-weight: bold;}
			.states .table-annotations tbody .table-column-priority {font-size: 22px; font-weight: bold;}
			.states .table-annotations .table-column-context {width: 90px;}
			.states .table-annotations .table-column-title {width: 335px;}
			.states .wide .table-annotations .table-column-title {width: 435px;}
			.states .table-annotations .table-column-creator {width: 100px}
			.states .table-annotations .table-column-status {width: 120px;}
			.states .table-annotations tr.status-complete {background-image: url('../imgs/line.gif'); background-repeat: repeat-x; background-position: 0 12px; opacity: 0.3;}		
			.states .table-annotations .table-column-timestamp {width: 100px; display: none;}
			.states .wide .table-annotations .table-column-timestamp {display: table-cell;}
			.states .table-annotations .table-column-assigned-to {width: 130px; display: none;}
			.states .wide .table-annotations .table-column-assigned-to {display: table-cell;}
			.states .table-annotations .table-column-estimate {width: 100px; display: none;}
			.states .wide .table-annotations .table-column-estimate {display: table-cell;}
			
	// END STATES SPECIFIC
	

	// SETTINGS SPECIFIC
	.settings .btn-back {float: left;}
	.settings .btn-update-image {margin: 5px 0;}
	.settings .table-users {width: 580px; margin: 0 auto;}
		.settings .table-users th {font-weight: normal; line-height: 10px; margin-top: 10px; text-indent: 10px; cursor: pointer;}
		//.settings .table-users td {padding-left: 5px;}
		.settings .table-users .table-column-name {width: 145px;}
		.settings .table-users .table-column-username {width: 125px;}
		.settings .table-users .table-column-email {width: 165px;}
		.settings .table-users .table-column-admin {width: 95px;}
		.settings .table-users .table-column-edit {width: 35px;}
		.settings .table-users .user-me {color: $color_light_pink;}
		.settings .table-users .btn-edit {cursor: pointer;}
		
	// remove hover states
	.settings .table-sortable tbody tr {height: 21px; padding: 2px 3px; font-size: 16px; line-height: 21px; cursor: default; @include transition(all, 0.15s, ease-out); @include corner(); display: block; width: 100%; background: $color_light_white;
		&:hover {background: $color_light_white; border-color: $color_light_white; color: $color_dark_gray;}
		&:nth-child(even):hover {background: #fff; color: $color_dark_gray;}
	}
		
	.settings .account-actions {
		h3 {font-size: 18px;}
		.btn-delete-account {color: $color_dark_red; margin: 10px 0 0 0; float: left;
			&:hover {color: $color_light_red;}
		}
		
		.msg {font-weight: bold; background: $color_light_pink; color: #fff; padding: 5px 10px; @include corner(); display: none;}
	}

	.modal .chk-admin,	
	.modal .msg-admin {display: none;}
	
	// END SETTINGS SPECIFIC

	
	// ANNOTATE SPECIFIC
	#annotate header {position: fixed; z-index: 3;}
		#annotate header .btn-back {position: absolute; left: 50%; top: 13px; margin-left: -80px; display: block;
				&:active {top: 14px;}
			}
	#annotate #main {width: 100%; z-index: 2; top: $header_height;}
		#annotate #representation {@include boxshadow(rgba(0, 0, 0, 0.5), 0, 3px, 6px); padding: 0 5px 5px; margin: 0 auto; position: relative;; width: 0; height: 0;}
			#annotate #representation img {position: relative; width: 100%; height: 100%}
	// END ANNOTATE SPECIFIC
	
	.expander {position: absolute; top: 0; right: -16px; border-left: 1px solid rgba(0, 0, 0, 0.1); width: 6px; height: 100%; cursor: e-resize;
		&:hover {border-color: rgba(0, 0, 0, 0.2);}
		.wide & {cursor: w-resize;}
		}
	
	// SIDEBAR
	/*
	.wide + .sidebar {position: fixed; right: 0; top: 100px;
			& {opacity: 0.8;}
			& .annotate-preview-container {margin-bottom: 0}
			& nav,
			& .btn-delete, 
			& .state-details {display: none;}
		}
	*/
	.wide + .sidebar {display: none;}
			.sidebar .company-logo {height: 138px; width: 290px; background: $color_light_white; display: table-cell; text-align: center; vertical-align: middle;}
				.sidebar .company-logo * {vertical-align: middle;}
//				.sidebar .company-logo span {display: inline-block; height: 100%; width: 1px;}
				.sidebar .company-logo img {max-width: 290px; max-height: 138px;}
			
			.sidebar .company-meta {}
				.sidebar .company-meta .company {font-size: 26px; font-weight: bold; line-height: 26px;}
				.sidebar .company-meta .domain {color: $color_light_gray; font-size: 18px;}
				.sidebar .company-meta .timestamp {color: #ccc;}
			
				.sidebar dl {font-size: 18px; margin-bottom: 10px; float: left; line-height: 28px; width: 170px;}
					.sidebar dt {width: 140px; clear: left; float: left; display: inline;}
					.sidebar dd {float: right}
	// END SIDEBAR
	
	
	// PAGINATION
	.paginate {}
		.paginate .page-navigation {text-align: right; float: right; margin: 10px 15px 0 0;}
			.page-navigation a {margin: 0 2px; float: left;}
			.page-navigation .active_page {color: $color_light_yellow;}
	
	// END PAGINGATION
	
	// SEARCH
	.frm-search {float: left; width: 100%; margin: -10px 15px 15px; position: relative; z-index: 3;}
		.frm-search .search {height: 20px; font-size: 16px; width: 180px}
		.frm-search .hint {top: 9px; font-size: 16px;}
		.matches {font-size: 20px; margin: 5px 0 0 10px; font-style: italic; float: left;}
		.no-matches {display: none; font-size: 24px; font-style: italic; float: left; margin-top: 20px; padding: 0 20px;}
	// END SEARCH
	
	// TABLE SORTABLE
	.table-sortable {width: 100%;}
		.table-sortable thead {height: 30px;}
		.table-sortable tr {display: inline-table}
		.table-sortable tbody tr {height: 21px; padding: 2px 3px; font-size: 16px; line-height: 21px; cursor: pointer; @include transition(all, 0.15s, ease-out); @include corner(); display: block; width: 100%; background: $color_light_white;
				&.on,
				&:hover,
				&:nth-child(even):hover {background: $color_light_pink; border-color: $color_light_pink; color: #000;}
				&:hover:last-child {border-color: $color_light_pink}
				&.on a,
				&:hover a {color: #000;}
				&.status-complete {@include transition(none, 0, ease-out);}
				&.status-complete:nth-child(even):hover {background-image: url(../imgs/line.gif)}			
				&:nth-child(even) {background: #fff}
				&.status-complete:hover {background-color: inherit; background-image: url(../imgs/line.gif); background-repeat: repeat-x; background-position: 0 12px; color: $color_dark_gray}
				&.none:hover {background: $color_light_white; border: none;}
				&.current,
				&.current:hover {background: $color_light_blue; color: $color_light_white; cursor: default;}
				&.none:hover {background: $color_light_white; color: $color_dark_gray; cursor: default;
					a {color: $color_light_blue;
						&:hover {color: $color_light_pink;}
					}
				}				
			}
			.table-sortable th {text-align: left; font-weight: bold; font-size: 18px}
			.table-sortable td {font-size: 12px; vertical-align: middle;}	
			.table-sortable .table-column-icon {width: 25px; vertical-align: middle; padding-left: 2px;}
			.table-sortable thead .table-column-title {font-size: 18px; padding-left: 3px;}
			.table-sortable .table-column-title {width: 250px; font-size: 15px; line-height: 24px;}
			.table-sortable tbody .table-column-title a {color: $color_light_gray;}
			.table-sortable thead .table-column-right {vertical-align: middle;}
			.table-sortable tbody .table-column-right a {margin-left: -4px;}
			.table-sortable .table-column-right a {float: right;}
	// END TABLE SORTABLE
	
// END COLUMNS

// EDITABLE FIELDS
.editable-textarea .frm-editable,
.editable .frm-editable {margin-bottom: 40px;}
	.editable input {width: 96%; font-size: 36px; letter-spacing: -1px;}	
	.editable-textarea textarea {width: 96%; height: 200px; font-size: 14px; letter-spacing: 0;}
	.editable input, 
	.editable-textarea textarea {@include boxshadow(rgba(0, 0, 1, 0.2), 0, 0, 3px, inset); @include corner(); color: $color_dark_gray; padding: 5px; border: 1px solid rgba(0, 0, 0, 0.1); outline: none; @include transition(all, 0.15s, ease-out); font-family: "Calibri", "Lucida Sans", Helvetica, Arial, sans-serif;;}
	
	.editable-textarea button,
	.editable button {border: 0 none; font-size: 12px; margin-top: 5px; padding: 5px 10px; outline: none; height: 30px; font: bold 15px "Calibri", "Lucida Sans", Helvetica, Arial, sans-serif; letter-spacing: 0; cursor: pointer;}
	.editable-textarea button[type=submit],
	.editable button[type=submit] {float: left; display: inline; margin-right: 10px;}
	.editable-textarea button[type=cancel],
	.editable button[type=cancel] {float: left; display: inline}
// END EDITABLE FIELDS

// ANNOTATION
.annotation {width: 20px; height: 20px; background: rgba(255, 255, 255, 0.3); margin-left: 2px; @include borderimage('../imgs/note-border.png'); border: 5px solid $color_light_blue; @include corner();
	&.type-task {@include borderimage('../imgs/task-border.png');}
	&.active {@include borderimage('../imgs/note-border-active.png');
		& .ui-resizable-handle,
		& .border,
		& .overlay,
		& form {display: block;}
	}	
	&.type-task.active {@include borderimage('../imgs/task-border-active.png');}
	&.minimized {width: 0 !important; height: 0 !important;
		& .ui-resizable-handle,
		& .border,
		& .overlay,
		& form {display: none !important;}		
	}
}
	
.annotation .annotation-num {position: absolute; top: -17px; left: -18px; background: #272727; width: 21px; height: 20px; line-height: 20px; text-align: center; color: #fff; @include corner(15px); padding: 4px; font-size: 14px; font-weight: bold; cursor: pointer; @include boxshadow(rgba(0, 0, 0, 0.4), 0, 1px, 1px); @include transition(color, 0.15s, ease-out)}
.annotation.minimized .annotation-num {background: $color_light_gray; @include transition(all, 0.15s, ease-out);
		&:hover {background: $color_light_blue; color: #fff;}
	}
.annotation.type-note .annotation-num {background: $color_light_yellow; color: $color_dark_gray;}

.annotation .border {position: absolute; top: -1px; left: -1px; border: 1px solid $color_dark_blue;@include corner(); width: 100%; height: 100%; opacity: 0.8;}
.annotation.type-note .border {border-color: $color_dark_yellow;}

.annotation .overlay {position: absolute; top: 0; left: 0;@include corner(); width: 100%; height: 100%; cursor: move;}
.annotation .ui-resizable-handle {opacity: 0.8}

.annotation.active .ui-resizable,
.annotation.active .frm-annotation {display: block;}
.annotation .ui-resizable,
.annotation .frm-annotation {display: none;}
.annotation .frm-annotation {position: absolute; top: 30px; width: 400px; background: #272727;@include corner(); color: #ccc; padding: 15px 15px 25px 15px; font-size: 12px; float: left; display: none; @include boxshadow(); /* @include transition(height, 0.15s, ease-out); */}
	
	.annotation .frm-annotation-container {width: 400px; height: 420px; overflow: hidden;}
	.annotation.type-note .frm-annotation-container {height: 270px;}
	.annotation .frm-annotation-inner {position: relative;}
	
	.annotation .frm-annotation p {float: left; clear: both; width: 100%; margin-bottom: 7px;}

	.annotation .btn-priority {float: right; width: 16px; text-align: center; font-size: 26px; line-height: 29px;
			&.checked {@include lineargradient($color_light_red, $color_dark_red);}
		}
	.annotation.type-note .btn-priority {display: none;}
	
	.annotation form input,
	.annotation form textarea {background: #fff;}
	.annotation form input {width: 300px; font-size: 18px; height: 24px;}
	.annotation form textarea {float: left; position: relative; width: 390px; height: 100px; padding: 5px; resize: none; font: 18px "Calibri", "Lucida Sans", Helvetica, Arial, sans-serif;}
	.annotation form label {width: 100px; font-weight: bold; position: relative; top: 4px; float: left;}
	.annotation form select {width: 180px; position: relative; float: left; margin-left: 10px; top: 11px; outline: none;}
	.annotation form .btn-status {position: relative; float: right; margin-left: 15px; top: 4px; opacity: 0.5;
			&.status-close {opacity: 1;}
		}
	.annotation form .group-cta {position: relative; top: 15px; width: 100%;}
	.annotation form .btn-save {position: relative; float: left;}
	.annotation form .btn-cancel {position: relative; float: left; margin-left: 20px;}
	.annotation form .btn-delete {position: relative; float: right;}
	
	.annotation form .field-estimate {margin-top: -5px}
	.annotation form input[name=estimate] {width: 60px; height: 14px; font-size: 12px; margin-top: 6px; font-weight: bold;}
	.annotation form .dd-estimate {width: 80px;}
	.annotation form .dd-estimate + a {left: 8px;}
	
	.annotation form .field-groups {height: 30px;}
	.annotation form input[name=new_group] {width: 100px; height: 14px; font-size: 12px; margin-top: 6px; float: right; font-weight: bold; display: none;}
	
	.annotation .type {position: absolute; left: -26px; top: 6px;
			& .btn {height: 25px; padding: 1px 6px; background: #272727; @include corner(0); opacity: 0.5;
					&:first-child {@include onecorner(5px, "top", "left")}
					&:nth-child(2) {@include onecorner(5px, "bottom", "left")}
					&.selected {opacity: 1;}
					& span {margin-top: 5px;}
				}
		}
		
	.annotation .task-fields {display: none;}
	.annotation.type-task .task-fields {display: block;}
	.annotation .btn-see-related-tasks {position: relative; top: 12px; left: 10px; font-size: 14px; font-weight: bold}
	.annotation .view-related-tasks {position: absolute; left: 405px;
		& .btn-back-to-form {float: left;}
		& .tbl-related-tasks {margin: 20px 0 0 20px; list-style: decimal outside none; font-size: 14px; font-weight: bold; float: left;
			& li {width: 370px; margin: 0;
			 	& a {display: block; font-size: 14px; color: $color_light_gray; padding: 5px; @include corner(); font-weight: normal;
					& .title {color: #fff; font-weight: bold;}
					&:hover {background: $color_light_pink; color: #fff}
				}
				&.none {list-style: none;}
				&.plus-more {list-style: none; margin-top: 20px;}
			}
		}
	}
		

/* Resizable
----------------------------------*/
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}

// END ANNOTATION


// PIE CHART 
.pie-chart {position: relative; z-index: 2; top: -30px; left: -15px}
.pie-chart .table {display: none;}

.views .pie-chart {float: right; top: 5px; left: -12px;}
.views .pie-chart .percentage {position: absolute; left: -45px; top: 2px; font-weight: bold; color: $color_light_blue; width: 40px; text-align: right;}
.views .pie-chart.complete .percentage {color: $color_light_pink;}
// END PIE CHART

// LOADING
#loading {position: fixed; top: 30%; left: 50%; margin-left: -100px;}
// END LOADING
