@import "style.scss";

.column-body-inner {width: 900px; margin: 0 auto;}
	.column-body h1 {font-size: 42px; letter-spacing: -2px; font-weight: normal; color: $color_light_pink;}
	.column-body h2 {font-size: 36px; letter-spacing: -2px; font-weight: normal; margin-bottom: 10px;}
	.column-body h3 {font-size: 18px; color: $color_light_gray; font-weight: normal; margin-top: 5px;}
	
.not-supported {
	ul {float: left; list-style: disc; padding: 0; margin: 10px 0 0 30px;
		li {padding: 0; font-size: 16px;}
	}
}
	
#main, footer {opacity: 1; min-height: 0;}