@import "style.scss";

.column-body-inner {width: 580px; margin: 0 auto;}
	.column-body h2 {font-size: 36px; letter-spacing: -2px; font-weight: normal; margin-top: 10px;}
	.column-body h2:first-child {margin-top: 0;}
	.column-body h3 {font-size: 28px; letter-spacing: -1px; font-weight: normal;}
	#frm-sign-up, #frm-forgot-password {margin-top: 30px;
			& .icon-error {width: auto; font-size: 14px; letter-spacing: 0;}
		}
		form .btn {margin-top: 30px;}
		
	.sidebar {		
		& .field {width: 290px;}
	}
	
	.view {position: relative; height: 580px;}
	#confirmation {display: none;}
	
	#forgot-password-container {display: none;}
	.btn-sign-in-form {font-style: italic;}
	.msg-password-sent {position: absolute; font-weight: bold; margin-top: 15px; background: $color_light_pink; color: #fff; padding: 5px; width: 276px; @include corner();}

footer {opacity: 1;}