@import "style.scss";
@import "jqmodal";
@import "login";

body {overflow-x: hidden;}
#main {min-height: 600px;}

.column-body-inner {width: 580px; margin: 0 auto;}
	.column-body h2 {font-size: 36px; letter-spacing: -2px; font-weight: normal; margin-top: 10px;}
	.column-body h2:first-child {margin-top: 0;}
	.column-body h3 {font-size: 28px; letter-spacing: -1px; font-weight: normal;}
	
	form .btn {margin-top: 30px;}
			
	.view {position: relative; height: 580px;}
	#confirmation {display: none;}

#frm-sign-up {margin-top: 20px;}

.sidebar {
	& ol {list-style: decimal; margin: 20px 0;
		& li {margin-left: 20px; color: $color_dark_gray; font-size: 16px; line-height: 24px;}
	}
	
	& p {color: $color_light_gray;}
}

footer {opacity: 1;}