@import "reset";
@import "config";
@import "helper";

// BASE
html {overflow-y: scroll;}
body {font: 14px "Calibri", "Lucida Sans", Helvetica, Arial, sans-serif; color: $color_dark_gray; background: #FCFCFB; /*overflow-x: hidden;*/}
    a {text-decoration: none; @include transition(all, 0.15s, ease-out); color: $color_light_blue;}
    a:active {position: relative; top: 1px;}
	a:hover {color: $color_light_pink;}
	ul {list-style: none;}
	hr {clear: both;}
	hr.thick {border-width: 6px; border-color: #000;}
#main {position: relative; margin: 0 auto; width: $wrap_width; padding-bottom: 20px; opacity: 0; /*min-height: 800px;*/}
// END BASE 

// BG
#bg {background: url('../imgs/bg-vignette-top-left.png') top left no-repeat, url('../imgs/bg-vignette-top-right.png') top right no-repeat, url('../imgs/bg-vignette-bottom-left.png') bottom left no-repeat, url('../imgs/bg-vignette-bottom-right.png') bottom right no-repeat, url('../imgs/bg-vignette-top.png') top center repeat-x, url('../imgs/bg-vignette-bottom.png') bottom center repeat-x, url('../imgs/bg-vignette-left.png') left center repeat-y, url('../imgs/bg-vignette-right.png') right center repeat-y; @include backgroundsize(465px, 130px); bottom: 0; left: 0; position: fixed; right: 0; top: 0; z-index: -1; min-height: 800px;}
    #bg img {position: absolute; left: 50%; margin-left: -600px; opacity: 0;}
	#bg-default {opacity: 1;}
// END BG

// HEADER
header {position: relative; width: 100%; background: #20211f; height: $header_height; @include boxshadow(#000, -5px, 0, 5px);}
    header .peeq {line-height: $header_height + 10; margin-left: 20px; position: relative; width: 81px; height: 60px; display: block; float: left; letter-spacing: -1.8px; font-size: 40px;}
	header .btn-back {display: none;}
    header section {float: right; height: $header_height; margin-right: 20px;}
        header h1 {float: left; display: inline; color: $color_light_white; font-size: 24px; line-height: $header_height; font-weight: normal;}
        header h1.username {font-style: italic; letter-spacing: -0.8px;}
            header h1 span {color: $color_light_yellow}
        header nav {float: left; display: inline; margin-left: 30px; height: $header_height;}
            header nav li {float: left; display: inline; font-size: 18px; font-weight: bold; line-height: $header_height;}
            header nav a {color: $color_light_white; padding: 5px 10px; margin: 0 5px; @include corner(5px); text-shadow: 0 1px 0 $color_dark_gray;
					&.on,
                    &:hover {@include lineargradient($color_light_blue, $color_dark_blue); color: $color_light_white;}
					&.on {@include boxshadow(rgba(255, 255, 255, 0.4), 0, 0, 8px);}
                }        
            header nav .logout a {color: $color_light_gray; @include transition(none, 0s, ease-out);
                    &:hover {color: #fff;};
                }
// END HEADER

// COLUMNS
#main .column {margin-top: $column_gap * 2;}

.column {float: left; display: inline; width: $column_width; margin-right: $column_gap; position: relative;}
.column.sidebar {width: $sidebar_width; margin-right: 0;}
.column.wide {width: $wrap_width;}
.column nav {height: 40px; float: left; width: 100%;}
.column .column-body {float: left; clear: both; background: #fff; @include corner(); @include boxshadow(rgba(0, 0, 0, 0.2), 0, 0, 1px); width: 100%; margin-top: 2px; padding: 25px 0; position: relative;}
	.column-body li {width: 580px; margin: 0 auto;}	
	.column-item-left {width: 170px; height: 100%; border-right: 1px solid rgba(32, 33, 31, 0.1); margin: 0 auto; float: left; display: inline; text-align: center;}
	.column-item-right {border-left: 1px solid #fff; height: 100%; padding: 0 20px; float: left; width: 365px; position: relative; z-index: 3;}
		
	// SIDEBAR
	.sidebar .column-body {padding: 25px 0;}
		.sidebar .column-body-inner {width: 290px; margin: 0 auto}
	// END SIDEBAR
// END COLUMNS
 
// NETWORK CONNECTIVITY
#network-connectivity {position: fixed; bottom: -33px; right: 10px; width: 30px; height: 30px; background: $color_light_white; border-top: 1px solid #fff; border-right: 1px solid #fff; color: $color_dark_red; text-align: center; line-height: 30px; @include corner(); @include boxshadow(rgba(0, 0, 0, 0.3), 0, 0, 2px);}
	#network-connectivity p {text-indent: -9999px; margin: 6px 0 0 5px;}
// END NETWORK CONNECTIVITY

// FOOTER
footer {font-size: 13px; color: $color_dark_gray; float: left; clear: both; position: relative; width: 100%; padding-bottom: 20px; margin-top: 60px; opacity: 0; color: $color_dark_gray;}
	footer a {@include transition(none, 0.15s, ease-out);}
	footer p {float: right;}
	footer nav {float: left;}
		footer nav li {float: left; display: inline; margin-left: 5px}
			footer nav a {color: $color_light_gray; @include transition(all, 0.15s, ease-out);}
// END FOOTER

// UTILITIES
.peeq {color: $color_light_pink;}
.complete {color: $color_light_pink;}
.incomplete {color: $color_light_blue;}
.important {color: $color_light_red; text-transform: uppercase; font-weight: bold;}
.wrap {width: $wrap_width; margin: 0 auto;}
.timestamp {color: #aaa; font-style: italic;}
.left {float: left;}
.right {float: right;}
.clearboth {clear: both;}

.btn {height: 25px; display: block; @include lineargradient(#494949, #20211f); @include boxshadow(rgba(0, 0, 0, 0.6), 0, 0, 1px); @include corner(3px); padding: 5px 10px; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 15px; line-height: 25px;
		&:hover {@include lineargradient(#555, #20211f); @include boxshadow(rgba(0, 0, 0, 0.8), 0, 0, 1px); color: #fff;};
	}

.btn.btn-delete {@include lineargradient($color_light_red, $color_dark_red);
		&:hover {@include lineargradient(#ff0000, $color_dark_red);}
	}

.btn.btn-back:before {content: '\AB'; color: $color_light_yellow; padding-right: 4px}
.add:before,
.btn.btn-add:before {content: '+'; color: $color_light_yellow; padding-right: 4px}
.btn.btn-annotate span {position: relative; top: 5px; margin-right: 3px;}
// END UTILITIES

// ICONS
.icon, .ui-icon {background: url('../imgs/sprite-icons.png') no-repeat; width: 15px; height: 17px; float: left; display: block;}
.icon.icon-view {background-position: 0 3px}
.icon.icon-task {background-position: -19px 0}
.icon.icon-note {background-position: -37px 0}
.icon.icon-state {background-position: -54px 0}
.icon.icon-state-large {background-position: -72px 0; width: 20px; height: 20px;}
.icon.icon-success {background-position: -108px 0}
.icon.icon-error {background-position: -126px 0}
.icon.icon-trash {background-position: 0 -18px;}
.icon.icon-pencil {background-position: -18px -18px;}
.icon.icon-add {background-position: -36px -18px;}
.icon.icon-offline {background-position: -54px -18px; width: 19px; height: 18px;}
.icon.icon-paperclip {background-position: -108px -18px; width: 18px; height: 18px;}
.icon.icon-sort {background-position: -126px -18px; width: 8px; height: 16px;}
.icon.icon-sort-asc {background-position: -126px -18px; width: 8px; height: 6px;}
.icon.icon-sort-desc {background-position: -126px -24px; width: 8px; height: 6px;}
.icon.icon-pdf {background-position: 0 -36px; width: 17px; height: 20px;}
.icon.icon-pdf-off {background-position: 0 -72px; width: 17px; height: 20px;}
.icon.icon-jpg {background-position: -19px -36px; width: 17px; height: 20px;}
.icon.icon-jpg-off {background-position: -19px -72px; width: 17px; height: 20px;}
.icon.icon-xml {background-position: -37px -36px; width: 17px; height: 20px;}
.icon.icon-xml-off {background-position: -37px -72px; width: 17px; height: 20px;}
.icon.icon-css {background-position: -54px -36px; width: 17px; height: 20px;}
.icon.icon-css-off {background-position: -54px -72px; width: 17px; height: 20px;}
.icon.icon-doc {background-position: -72px -36px; width: 17px; height: 20px;}
.icon.icon-doc-off {background-position: -72px -72px; width: 17px; height: 20px;}
.icon.icon-js {background-position: -90px -36px; width: 17px; height: 20px;}
.icon.icon-js-off {background-position: -90px -72px; width: 17px; height: 20px;}
.icon.icon-html {background-position: -108px -36px; width: 17px; height: 20px;}
.icon.icon-html-off {background-position: -108px -72px; width: 17px; height: 20px;}
.icon.icon-php {background-position: -126px -36px; width: 17px; height: 20px;}
.icon.icon-php-off {background-position: -126px -72px; width: 17px; height: 20px;}
.icon.icon-marker-incomplete {background-position: 0 -108px;}
.icon.icon-marker.on {background-position: -18px -108px;}
.icon.icon-marker-complete {background-position: -36px -108px;}
.ui-icon-gripsmall-diagonal-se,
.icon.icon-resizer {background-position: -54px -108px;}
.ui-icon-triangle-1-s,
.icon.icon-dropdown-arrows {background-position: -72px -108px;}
.ui-state-active .ui-icon-triangle-1-s,
.icon.icon-dropdown-arrows-pink {background-position: -90px -108px;}
// END ICONS

@import "jqmodal";
@import "forms";

// MEDIA QUERIES for responsive design
// source: http://html5boilerplate.com/

//@media all and (orientation:portrait) {
	// Style adjustments for portrait mode goes here

//}
 
//@media all and (orientation:landscape) {
 	// Style adjustments for landscape mode goes here
//}

// Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android) 
//  Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
//@media screen and (max-device-width: 480px) {
   
//}

