<form action="./signup.php" method="post" accept-charset="utf-8">
	<fieldset>
		<legend>YSS Account:</legend>
		<label for="firstname" class="{status_firstname}">First Name</label><input type="text" name="firstname" value="{value_firstname}" class="{status_firstname}" id="firstname">
		<br><label for="lastname" class="{status_lastname}">Last Name</label><input type="text" name="lastname" value="{value_lastname}" class="{status_lastname}" id="lastname">
		<br><label for="email" class="{status_email}">Email</label><input type="text" name="email" value="{value_email}" class="{status_email}" id="email">
		<br><label for="company" class="{status_company}">Company</label><input type="text" name="company" value="{value_company}" class="{status_company}" id="company">
	</fieldset>
	<fieldset>
		<legend>YSS User</legend>
		<br><label for="username" class="{status_username}">Username</label><input type="text" name="username" value="{value_username}" class="{status_username}" id="username">
		<br><label for="password" class="{status_password}">Password</label><input type="password" name="password" value="{value_password}" class="{status_password}" id="password">
		<br><label for="password_verify">Verfiy Password</label><input type="password" name="password_verify" value="" id="password_verify">
	</fieldset>
	<fieldset>
		<legend>YSS Site Address</legend>
		<label for="subdomain" class="{status_subdomain}">Site Address</label><br>http://<input type="text" name="subdomain" value="{value_subdomain}" class="{status_subdomain}" id="subdomain">.yss.com
	</fieldset>
	<p><input type="submit" value="Submit &rarr;"></p>
</form>