@import "style.config.less";

/* -- UNIVERSAL RESETS -- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre, a, em, font, img, small, strong, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, input, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; border: 0}
body {font-family: Arial, Helvetica, sans-serif}
ul {list-style: none}
a {text-decoration: none; color: @gray;}
a:hover {border-bottom: 1px solid @light_blue; padding-bottom: 1px}
a.btn.no_:hover {border-bottom: inherit; padding-bottom: inherit;}
a.no_:hover {border-bottom: 0; padding-bottom: 0;}

.font-replace {font-family: 'Vegur'}

/* -- BEGIN -- */
body {background: #fff}
body.view-editor {background: @gray;}
#container {width: 100%; min-width: @page_width; margin: 0 auto; position: relative;}
.view-editor #container {position: fixed; width: 100%; z-index: 200;}

#global-header {background: @primary_gray; color: #fff; font-size: 16px; height: 40px; .dropshadow(-3px);}
	.view-editor #global-header {z-index: 110; position: relative;}
	#logo {position: absolute; top: 10px; left: @spacer; color: #fff; background: url(../img/logo.png) no-repeat; width: 43px; height: 26px; .seotext();}
	#primary-nav {position: absolute; top: 12px; right: 10px;}
		#primary-nav li {float: left; display: inline; margin-right: 10px; color: @gray;}
			#primary-nav a:hover {color: #fff; }
			#primary-nav .username {color: #fff; font-weight: bold; padding-right: @spacer;}
			#primary-nav .logout {padding-left: 10px;}		
			
	#company-header {position: relative; height: 80px; width: 100%;}
	.view-editor #company-header {background: #fff; z-index: 101;}
		.breadcrumbs {position: absolute; left: @spacer; color: @light_gray; font-weight: bold; font-size: 36px; letter-spacing: -2px; line-height: 80px;}
			.breadcrumbs .company {color: #000;}
			.breadcrumbs .project {}
		#company-header .dd-change-view {position: absolute; top: 35px; right: 20px; width: 160px;}
	
#global-body {border-top: 1px solid #ccc; padding: @spacer; position: relative; min-height: 600px; width: @page_width; margin: 0 auto; .dropshadow(0, 3px, 6px, rgba(0, 0, 0, 0.5)); background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(242,242,242))); background: #f5f5f5; /*-moz-linear-gradient(100% 0% 90deg, rgb(255, 255, 255), rgb(242, 242, 242))*/}

.view-editor #global-body {width: 100%; z-index: 109; min-height: 0; height: 40px; border-bottom: 1px solid rgba(0, 0, 0, 0.3);}
	.view-header {height: 80px;}
		#view-table-header .page-title {color: @primary_gray; font-size: 24px; font-weight: bold; padding: 7px 50px 0; width: 200px;}
		#view-table-header .page-title .count {color: @light_gray; font-size: 16px;}
		#view-table-header .add {position: absolute; top: @spacer; right: 0; color: @primary_gray; font-size: 24px; padding: 6px 31px 0 51px; width: 120px;}
		.view-editor #view-table-header .add {right: @spacer;}
		
	
	#view-editor-header {display: none;}

	#view-table-list {}
		#view-table-list.settings .user-level-admin {background: #fff;}
	
		#view-table-list li {padding: 0 @spacer; background: #eaeaea; height: 60px; border-top: 1px solid #d8d8d8; border-bottom: #fff 1px solid; position: relative;}
		#view-table-list li.alt {background: transparent;}
		#view-table-list li.expanded {background: #fff; height: auto; padding-bottom: (@spacer/2);}
		
		#view-table-list .item-thumb {position: absolute; left: @spacer; top: 3px;}
			#view-table-list .item-thumb-stack-1 {position: absolute; top: 0; left: 0; z-index: 30}
			#view-table-list .item-thumb-stack-2 {position: absolute; top: 0; left: 2px; z-index: 29}
			#view-table-list .item-thumb-stack-3 {position: absolute; top: 0; left: 4px; z-index: 28}
			#view-table-list .item-thumb-stack-4 {position: absolute; top: 0; left: 6px; z-index: 27}
			#view-table-list .item-thumb-stack-5 {position: absolute; top: 0; left: 8px; z-index: 26}
		#view-table-list .item-name {color: @primary_gray; font-size: 22px; position: absolute; top: 20px; left: 90px;}
		#view-table-list.settings .logged-in-user .item-name {font-weight: bold;}
		#view-table-list .item-username {color: @light_gray; font-size: 22px; position: absolute; top: 20px; left: 260px;}
		#view-table-list.settings .logged-in-user .item-username {font-weight: bold;}
		#view-table-list .item-email {color: @light_blue; font-size: 22px; position: absolute; top: 20px; left: 440px;}
		#view-table-list .item-user-level {color: @primary_gray; font-size: 22px; position: absolute; top: 20px; left: 700px; text-transform: capitalize;}
		#view-table-list.settings .logged-in-user .item-user-level {font-weight: bold;}
		#view-table-list .edit {color: @light_blue; line-height: 60px; padding-left: 19px; position: relative; left: 780px; text-transform: capitalize;}
		
		
		#view-table-list .item-details {color: #111; font-size: 14px; font-weight: bold; position: absolute; top: 23px; left: 270px; display: none;}
			#view-table-list .expanded .item-details,
			#view-table-list .over .item-details {display: block;}
		.progress-bar {position: absolute; top: 10px; left: 430px; width: 280px; height: 26px; background: #f8f8f8;}		
		.progress-value {color: @primary_gray; font-size: 20px; position: absolute; top: 8px; left: 290px; width: 60px;}
		#view-table-list .delete {color: @red; line-height: 60px; padding-left: 19px; position: relative; left: 810px;}
		
		#view-table-list .item-detail {color: @primary_gray; display: none; font-size: 14px;}
			#view-table-list .expanded .item-detail {display: block;}
		#view-table-list .item-tasks {position: relative; top: 0; left: 70px;}
		#view-table-list .item-states {position: relative; top: -15px; left: 70px; padding-left: 27px; line-height: 20px;}
			#view-table-list .add-state {position: absolute; top: 15px; left: 250px; color: #000; line-height: 20px; padding-left: 28px; width: 200px;}
		#view-table-list .item-views {position: relative; top: -15px; left: 190px;}
		.item-tasks {padding-left: 26px; width: 150px;}
			 .tasks-closed {color: @task_closed;}
			 .tasks-total {color: @task_total;}
		
		.item-states,
		.item-views {padding-left: 22px; width: 650px;}	
		
		.item-states a {color: @light_blue;}
		
			.item-states .state-count,
			.item-attachments .attachment-count,
			.item-views .view-count {color: @view_count;}
		
		.item-attachments {position: relative; top: -21px; left: 250px; padding-left: 26px; height: 40px; line-height: 26px;}			
			.item-attachments .dd-attachments {position: relative; left: 42px; width: 180px;}
			.item-attachments .add-attachment {position: relative; left: 340px; display: block; line-height: 28px; padding-left: 28px; top: -25px; width: 200px; color: #000;}

		
		#view-table-list .item-states-container {background: #f9f9f9; .dropshadow(0, 1px, 6px, rgba(0, 0, 0, 0.25)); margin: -20px 0 20px 0; padding: 30px 0 50px 0; position: relative;}
			#view-table-list .item-states-container ul {position: relative; width: 780px; left: 70px; .dropshadow(0, 1px, 6px, rgba(0, 0, 0, 0.25));}
				#view-table-list .item-states-container li {height: 30px; background: #efefef;}
				#view-table-list .item-states-container li.alt {background: #e9e9e9}
					#view-table-list .item-states-container .item-name {top: 5px; left: 25px; font-size: 20px;}
					#view-table-list .item-states-container .item-tasks {top: 5px; left: 160px;}
					#view-table-list .item-states-container .progress-bar {top: 4px; left: 340px; height: 20px; width: 200px;}
						#view-table-list .item-states-container .progress-value {left: 210px; top: 0; font-size: 18px;}
					#view-table-list .item-states-container .edit {top: -30px; left: 600px;}
					#view-table-list .item-states-container .delete {top: -30px; left: 630px; background-position: 0 0;}
		
		#view-table-list .item-detail .item-desc p {margin-bottom: 10px; font-size: 12px; color: @detail_gray; font-size: 13px; line-height: 18px;}


/* -- task-list -- */
.task-list-container {background: rgba(255, 255, 255, 0.9); margin: 0 auto; position: absolute; top: 80px; left: 0; width: 100%; display: none;}
	.task-list {width: @page_width; margin: @spacer auto 0 auto;}
		.task-list .icon-close {float: right; margin-right: (@spacer/2); font-size: 24px; text-indent: 30px; color: @primary_gray;}
		.sort-tasks {}
		.task-group {float: left; margin: 40px 0 @spacer 0;}
			.task-title {font-size: 30px; color: @primary_gray; margin: 0 0 15px 80px;}
			.tasks-open {color: @task_open;}
			.task-group .tasks-closed {color: @task_total;}
			.task-group ol {list-style: none;}
				.task-group li {font-size: 14px; background: #fff; float: left; clear: left; padding: @spacer @spacer @spacer 50px; border-top: 1px solid #d8d8d8; border-bottom: #fff 1px solid; }
				.task-group li.alt {background: #d8d8d8;}
					.task-group .task-count {color: @primary_gray; float: left; display: inline; margin-right: @spacer;}
					.task-group .task-info-group {float: left; display: inline; margin-right: @spacer;}
						.task-group .task-desc {color: @primary_gray; width: 290px;}
						.task-group .task-type {color: @task_type; margin-top: 4px;}
						.task-group .task-assignee {color: @detail_gray; margin-top: 4px;}
					.task-group .task-status-group {float: left; display: inline;}
						.task-group .task-status {color: @light_blue; float: left; clear: left; margin-top: 10px;}
						.task-group .task-status.reopen {color: @task_total;}
						.task-group .task-delete {color: @red; float: left; clear: left; margin-top: 20px; height: 20px; text-indent: 20px; background-position: 0 2px;}
			

/* -- editor -- */
.task-info {position: relative; left: 0; top: (-1 * @spacer);}
	.task-info .progress-bar {width: 200px; height: 25px; left: 0;}
	.task-info .progress-value {left: 210px;}
	.task-info .item-tasks {position: absolute; top: 50px;}
	.task-info .item-details {position: absolute; top: 52px; left: 155px; color: @light_blue; text-transform: capitalize;}
.attachment-list {position: absolute; top: 24px; left: 370px;}
	.attachment-list p {float: left; display: inline; font-size: 24px; margin-right: 20px;}
	
	.view-editor #view-table-header .add {width: 170px; padding: 3px 31px 0;}
	
	#view-body-editor {position: relative; top: 200px; left: 0; background: @gray;}
		#view-body-editor-image {margin: 0 auto; .dropshadow(0, 3px, 6px, rgba(0, 0, 0, 0.5)); padding: 0 5px; position: relative;}
		
		#view-body-editor-image .note {width: 100px; height: 100px; position: absolute; background: rgba(255, 255, 255, 0.3); margin-left: 2px; -moz-border-image: url(../img/note-border.png) 5 5 5 5 stretch; -webkit-border-image: url(../img/note-border.png) 5 5 5 5 stretch; border: 5px solid #ff7b09; .rounded(5px)}
		#view-body-editor-image .note .note-num {position: absolute; top: -13px; left: -13px; background: #272727; border: 1px solid #fff; width: 20px; height: 20px; line-height: 20px; text-align: center; color: #ccc; .rounded(5px); font-size: 12px; }
		#view-body-editor-image .note .border {position: absolute; top: -1px; left: -1px; border: 1px solid rgba(0, 0, 0, 0.4); .rounded(5px); width: 100%; height: 100%;}
		#view-body-editor-image .note .overlay {position: absolute; top: 0; left: 0; .rounded(5px); width: 100%; height: 100%; cursor: move;}
		#view-body-editor-image .note .frm-note {position: absolute; top: 110px; width: 330px; height: 200px; background: #272727; .rounded(5px); color: #ccc; padding: 15px; font-size: 12px; .dropshadow();}
		
		#view-body-editor-image .note form {width: 100%; position: relative; float: left;}			
			#view-body-editor-image .note form p {float: left; clear: both; width: 100%; margin-bottom: 7px;}
			#view-body-editor-image .note form textarea {float: left; position: relative; width: 318px; .rounded(3px); border: 1px solid #000; height: 100px; padding: 5px; resize: none;}
			#view-body-editor-image .note form label {width: 72px; font-weight: bold; position: relative; top: 4px; float: left;}
			#view-body-editor-image .note form select {width: 170px; position: relative; float: left; margin-left: 10px;}
			#view-body-editor-image .note form .btn-close-task {position: relative; float: left; margin-left: 20px; top: 4px;}
			#view-body-editor-image .note form .group-cta {position: relative; top: 15px; width: 327px;}
			#view-body-editor-image .note form .btn-save {position: relative; float: left;}
			#view-body-editor-image .note form .btn-cancel {position: relative; float: left; margin-left: 20px;}
			#view-body-editor-image .note form .btn-delete {position: relative; float: right;}

/* Resizable
----------------------------------*/
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}

/* -- .modal -- */
.modal {width: @modal_width; height: @modal_height; margin-left: (-1 * (@modal_width/2)); background: #000; .dropshadow(0, 1px, 5px, rgba(0, 0, 0, 0.5)); position: relative;}
	.modal-title {position: absolute; top: @spacer; left: @spacer; font-weight: bold; font-size: 26px; color: @primary_gray;}
	.modal-error {position: absolute; top: @spacer; left: 0; width: 100%; text-align: center; font-size: 22px; color: @red_error; display: none;}
		.modal-error img {position: relative; top: 3px; margin-right: 5px;}
	.modal-close {position: absolute; top: @spacer; right: @spacer; font-size: 24px; color: @primary_gray; line-height: 24px; padding-left: 27px;}
	.modal form {position: absolute; top: 100px; left: @spacer;}
		.modal label {color: #000; width: 175px; text-align: right; float: left; height: 58px; font-size: 24px; margin-right: 25px;}
		.modal input[type=text],
		.modal input[type=email] {background: url(../img/bg-input-text.png) no-repeat; width: 529px; height: 58px; color: #222; padding: 5px 6px 0; position: relative; top: -16px; font-size: 28px;}
		 
		.modal input[type=text]:focus,
		.modal input[type=email]:focus {background-image: url(../img/bg-input-text-focus.png);}

		.file-input {position: relative;}		
			input.file {position: absolute; left: 429px; top: -18px; height: 58px; -moz-opacity: 0; opacity: 0; z-index: 2;}	
			.fakefile {position: absolute; top: 0; left: 200px; z-index: 1;}
				.modal .fakefile input {background: url(../img/bg-input-file.png) no-repeat; width: 484px; height: 58px; color: #222; padding: 5px 6px 0; position: relative; top: -16px; font-size: 28px;}
				.modal .fakefile input:focus {background-image: url(../img/bg-input-file-focus.png);}
				.modal .fakefile img {position: absolute; top: 0; right: -45px;}
		
		.modal p,
		.modal .file-input-container {float: left; clear: both;}

		.modal textarea {background: url(../img/bg-input-textarea.png) no-repeat; width: 532px; height: 229px; color: #222; padding: 5px 6px 9px; position: relative; top: -16px; font-size: 28px; border: 0;}		 
		.modal textarea.small {background: url(../img/bg-input-textarea-small.png) no-repeat; width: 532px; height: 169px; color: #222; padding: 5px 6px 9px; position: relative; top: -16px; font-size: 28px; border: 0;}
				 
		.modal textarea:focus {background-image: url(../img/bg-input-textarea-focus.png);}
		.modal textarea.small:focus {background-image: url(../img/bg-input-textarea-small-focus.png);}

		.modal input[type=checkbox] {position: relative; top: 5px; left: 3px;}

		.modal input[type=submit] {font-size: 24px; color: @primary_gray; position: absolute; right: 0; bottom: (-1 * @spacer); background-position: 0 4px; height: 30px; width: auto; padding-left: 25px; cursor: pointer;}

		.modal.modal-view-add-state {height: 250px;}
			.modal.modal-view-add-state input[type=submit] {bottom: -30px;}

		.modal.modal-view-delete {width: 480px; height: 200px; margin-left: -240px;}
			.modal-view-delete form {top: 100px; left: 80px;}
				a.frm-delete-yes {background: #fff url(../img/icon-accept.png) no-repeat 10px 5px; font-size: 36px; .rounded(5px); float: left; height: 60px; line-height: 60px; text-indent: 70px; width: 140px; border: 1px solid rgba(0, 0, 0, .15);}
				a.frm-delete-yes:hover {background-color: #429F05; color: #fff; border: 1px solid rgba(0, 0, 0, .15);}
				a.frm-delete-no {background: #fefefe url(../img/icon-cancel.png) no-repeat 10px 5px; font-size: 36px; .rounded(5px); float: left; height: 60px; line-height: 60px; text-indent: 70px; width: 140px; border: 1px solid rgba(0, 0, 0, .15); margin-left: 40px;}
				a.frm-delete-no:hover {background-color: #9A1E05; color: #fff; border: 1px solid rgba(0, 0, 0, .15);}

/* -- .ui-progressbar -- */
.ui-widget-content {border: 1px solid #aaa;}
.ui-progressbar { height:2em; text-align: left; }
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; background-image: url(../img/progress-bar-bg.gif); }
	
/* -- icons -- */	
.icon-folder 	 	 {background: url(../img/icon-folder.png) no-repeat; width: 45px; height: 30px;}
.icon-folder-add 	 {background: url(../img/icon-folder-add.png) no-repeat; width: 48px; height: 30px;}
.icon-add	 	 	 {background: url(../img/icon-add.png) no-repeat; width: 26px; height: 26px;}
.icon-add-small	 	 {background: url(../img/icon-add-small.png) no-repeat; width: 21px; height: 21px;}
.icon-delete 	 	 {background: url(../img/icon-delete.png) no-repeat 0 2px; width: 14px; height: 13px;}
.icon-check	 		 {background: url(../img/icon-check.png) no-repeat; /*width: 21px;*/ height: 16px;}
.icon-view	 	 	 {background: url(../img/icon-view.png) no-repeat; width: 28px; height: 33px;}
.icon-view-add 	 	 {background: url(../img/icon-view-add.png) no-repeat; width: 33px; height: 38px; line-height: 38px; top: 19px;}
.icon-view-small	 {background: url(../img/icon-view-small.png) no-repeat; /*width: 17px;*/ height: 19px;}
.icon-states 	 	 {background: url(../img/icon-states.png) no-repeat; height: 17px;}
.icon-states-add 	 {background: url(../img/icon-states-add.png) no-repeat; height: 17px;}
.icon-settings       {background: url(../img/icon-settings.png) no-repeat; width: 31px; height: 30px;}
.icon-edit 			 {background: url(../img/icon-edit.png) no-repeat; height: 15px;}
.icon-close		 	 {background: url(../img/icon-close.png) no-repeat; height: 21px;}
.icon-warning	 	 {background: url(../img/icon-warning.png) no-repeat; height: 22px;}
.icon-attachment 	 {background: url(../img/icon-attachment.png) no-repeat; height: 40px;}
.icon-attachment-add {background: url(../img/icon-attachment-add.png) no-repeat; height: 40px;}
	
.btn {.rounded(2px); padding: 10px; -moz-border-shadow: 0 1px 3px rgba(0, 0, 0, 0.25); border-bottom: 1px solid rgba(0, 0, 0, 0.25); text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25); width: auto; background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(232,232,232)), color-stop(1, rgb(250,250,250))); background-image: -moz-linear-gradient(center bottom, rgb(232,232,232) 0%, rgb(250,250,250) 100%)}	