html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,hr,p,blockquote,pre,a,em,font,img,small,strong,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,input,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;border:0;}
body{font-family:Arial,Helvetica,sans-serif;}
ul{list-style:none;}
a{text-decoration:none;color:#c9c9c9;-moz-transition:color 0.1s ease-in-out;}
textarea{resize:none;}
.font-replace{font-family:'Vegur';}
body{background:#ffffff;}
body.view-editor{background:#c9c9c9;}
#container{width:100%;min-width:960px;margin:0 auto;position:relative;}
.view-editor #container{position:fixed;width:100%;z-index:200;}
#global-header{background:#272727;color:#fff;font-size:16px;height:40px;-moz-box-shadow:-3px 2px 3px #000000;-webkit-box-shadow:-3px 2px 3px #000000;box-shadow:-3px 2px 3px #000000;}
.view-editor #global-header{z-index:110;position:relative;}
#logo{position:absolute;top:10px;left:20px;color:#fff;background:url(../img/logo.png) no-repeat;width:43px;height:26px;text-indent:-9999px;}
#primary-nav{position:absolute;top:0;right:10px;}
#primary-nav li{float:left;display:inline;margin-right:0px;color:#c9c9c9;}
#primary-nav a{float:left;display:block;height:45px;line-height:40px;padding:0 6px;}
#primary-nav a:hover{color:#000;background:#fff;border:none;}
#primary-nav .username{color:#fff;font-weight:bold;padding-right:20px;float:left;display:block;height:40px;line-height:40px;}
#primary-nav .logout{padding-left:10px;}
#company-header{position:relative;height:80px;width:100%;}
.view-editor #company-header{background:#fff;z-index:101;}
#company-header .dd-change-view{position:absolute;top:35px;right:20px;width:160px;}
#global-body{padding:20px;position:relative;min-height:600px;width:960px;margin:0 auto;-moz-box-shadow:0 1px 6px rgba(0, 0, 0, 0.5);-webkit-box-shadow:0 1px 6px rgba(0, 0, 0, 0.5);box-shadow:0 1px 6px rgba(0, 0, 0, 0.5);background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #f2f2f2));background:#f5f5f5;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.view-editor #global-body{width:100%;z-index:109;min-height:0;height:40px;border-bottom:1px solid rgba(0, 0, 0, 0.3);}
.view-header{height:80px;}
#view-table-header .page-title{color:#272727;font-size:24px;font-weight:bold;padding:7px 50px 0;width:200px;}
#view-table-header .page-title .count{color:#bebebe;font-size:16px;}
#view-table-header .add{position:absolute;top:20px;right:20px;color:#272727;font-size:24px;}
.view-editor #view-table-header .add{right:20px;}
#view-editor-header{display:none;}
#view-table-list.settings .user-level-admin{background:#fff;}
#view-table-list li{padding:0 20px;background:#eaeaea;height:60px;border-top:1px solid #d8d8d8;border-bottom:#fff 1px solid;position:relative;}
#view-table-list li.alt{background:transparent;}
#view-table-list li.expanded{background:#fff;height:auto;padding-bottom:10px;}
#view-table-list .item-thumb{position:absolute;left:20px;top:3px;}
#view-table-list .item-thumb-stack-1{position:absolute;top:0;left:0;z-index:30;}
#view-table-list .item-thumb-stack-2{position:absolute;top:0;left:2px;z-index:29;}
#view-table-list .item-thumb-stack-3{position:absolute;top:0;left:4px;z-index:28;}
#view-table-list .item-thumb-stack-4{position:absolute;top:0;left:6px;z-index:27;}
#view-table-list .item-thumb-stack-5{position:absolute;top:0;left:8px;z-index:26;}
#view-table-list .item-name{color:#272727;font-size:22px;position:absolute;top:20px;left:90px;}
#view-table-list.settings .logged-in-user .item-name{font-weight:bold;}
#view-table-list .item-username{color:#bebebe;font-size:22px;position:absolute;top:20px;left:260px;}
#view-table-list.settings .logged-in-user .item-username{font-weight:bold;}
#view-table-list .item-email{color:#247dc8;font-size:22px;position:absolute;top:20px;left:440px;}
#view-table-list .item-user-level{color:#272727;font-size:22px;position:absolute;top:20px;left:700px;text-transform:capitalize;}
#view-table-list.settings .logged-in-user .item-user-level{font-weight:bold;}
#view-table-list .edit{color:#247dc8;position:relative;left:780px;text-transform:capitalize;}
#view-table-list .item-details{color:#111;font-size:14px;font-weight:bold;position:absolute;top:23px;left:270px;display:none;}
#view-table-list .expanded .item-details,#view-table-list .over .item-details{display:block;}
#view-table-list .btn{top:14px;}
#view-table-list .delete{color:#9f2106;position:relative;left:810px;}
#view-table-list .item-detail{color:#272727;display:none;font-size:14px;}
#view-table-list .expanded .item-detail{display:block;position:relative;top:40px;padding:0 0 40px 0;}
#view-table-list .item-tasks{position:relative;top:0;left:70px;}
#view-table-list .item-states{position:relative;top:-15px;left:70px;padding-left:27px;line-height:20px;}
#view-table-list .add-state{position:absolute;top:7px;left:250px;color:#000;}
#view-table-list .item-views{position:relative;top:-15px;left:190px;}
.item-tasks{padding-left:26px;width:150px;}
.tasks-closed{color:#df842e;}
.tasks-total{color:#b43c16;}
.item-states,.item-views{padding-left:22px;width:650px;}
.item-states a{color:#247dc8;}
.item-states .state-count,.item-attachments .attachment-count,.item-views .view-count{color:#6c6c6c;}
.item-attachments{position:relative;top:-21px;left:250px;padding-left:26px;height:40px;line-height:26px;}
.item-attachments .dd-attachments{position:relative;left:42px;width:180px;}
.item-attachments .add-attachment{position:relative;left:340px;display:block;line-height:28px;padding-left:28px;top:-25px;width:200px;color:#000;}
#view-table-list .item-states-container{background:#f9f9f9;-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.25) inset;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.25) inset;box-shadow:0 1px 1px rgba(0, 0, 0, 0.25) inset;margin:-20px 0 20px 0;padding:30px 0 50px 0;position:relative;}
#view-table-list .item-states-container ul{position:relative;width:780px;left:70px;-moz-box-shadow:0 1px 6px rgba(0, 0, 0, 0.25);-webkit-box-shadow:0 1px 6px rgba(0, 0, 0, 0.25);box-shadow:0 1px 6px rgba(0, 0, 0, 0.25);}
#view-table-list .item-states-container li{height:30px;background:#efefef;}
#view-table-list .item-states-container li.alt{background:#e9e9e9;}
#view-table-list .item-states-container .item-name{top:5px;left:25px;font-size:20px;}
#view-table-list .item-states-container .item-tasks{top:5px;left:160px;}
#view-table-list .item-states-container .progress-bar{top:4px;left:340px;height:20px;width:200px;}
#view-table-list .item-states-container .progress-value{left:210px;top:0;font-size:18px;}
#view-table-list .item-states-container .edit{top:-30px;left:600px;}
#view-table-list .item-states-container .delete{top:-30px;left:630px;background-position:0 0;}
#view-table-list .item-detail .item-desc p{margin-bottom:10px;font-size:12px;color:#5b5b5b;font-size:13px;line-height:18px;}
.task-list-container{background:rgba(255, 255, 255, 0.9);margin:0 auto;position:absolute;top:142px;left:0;width:100%;display:none;z-index:2;}
.task-list{width:960px;margin:20px auto 0 auto;}
.task-list .icon-close{float:right;margin-right:10px;font-size:24px;text-indent:30px;color:#272727;display:none;}
.sort-tasks{display:none;}
.task-group{float:left;margin:40px 0 20px 0;}
.task-title{font-size:30px;color:#272727;position:fixed;background:#f5f5f5;width:460px;height:60px;line-height:60px;text-indent:50px;-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.4);-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.4);box-shadow:0 1px 4px rgba(0, 0, 0, 0.4);}
.tasks-open{color:#e08c3b;}
.task-group .tasks-closed{color:#b43c16;}
.task-group ol{list-style:none;margin-top:60px;}
.task-group li{font-size:14px;background:#fff;float:left;clear:left;padding:20px;margin-right:20px;width:420px;border-top:1px solid #d8d8d8;border-bottom:#fff 1px solid;}
.task-group li.alt{background:#d8d8d8;}
.task-group .task-count{color:#272727;float:left;display:inline;margin-right:20px;}
.task-group .task-info-group{float:left;display:inline;margin-right:20px;}
.task-group .task-desc{color:#272727;width:290px;}
.task-group .task-type{color:#7f7f7f;margin-top:4px;}
.task-group .task-assignee{color:#5b5b5b;margin-top:4px;}
.task-group .task-status-group{float:left;display:inline;}
.task-group .task-status{color:#247dc8;float:left;clear:left;margin-top:10px;}
.task-group .task-status.reopen{color:#b43c16;}
.task-group .task-delete{color:#9f2106;float:left;clear:left;margin-top:20px;height:20px;text-indent:20px;background-position:0 2px;}
.task-info{position:relative;left:0;top:-20px;}
.task-info .progress-bar{width:200px;height:25px;left:0;}
.task-info .progress-value{left:210px;}
.task-info .item-tasks{position:absolute;top:50px;}
.task-info .item-details{position:absolute;top:52px;left:155px;color:#247dc8;text-transform:capitalize;}
.attachment-list{position:absolute;top:24px;left:370px;}
.attachment-list p{float:left;display:inline;font-size:24px;margin-right:20px;}
.view-editor #view-table-header .add{width:170px;padding:3px 31px 0;}
#view-body-editor{position:relative;top:200px;left:0;width:100%;}
#view-body-editor-image{margin:0 auto;-moz-box-shadow:0 3px 6px rgba(0, 0, 0, 0.5);-webkit-box-shadow:0 3px 6px rgba(0, 0, 0, 0.5);box-shadow:0 3px 6px rgba(0, 0, 0, 0.5);padding:0 5px;position:relative;}
#view-body-editor .note{width:20px;height:20px;background:rgba(255, 255, 255, 0.3);margin-left:2px;-moz-border-image:url(../img/note-border.png) 5 5 5 5 stretch;-webkit-border-image:url(../img/note-border.png) 5 5 5 5 stretch;border:5px solid #ff7b09;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
#view-body-editor .note.active{-moz-border-image:url(../img/note-border-active.png) 5 5 5 5 stretch;-webkit-border-image:url(../img/note-border-active.png) 5 5 5 5 stretch;}
.minimized.note .ui-resizable-handle,.minimized.note .border,.minimized.note .overlay,.minimized.note form{display:none;}
#view-body-editor .note .note-num{position:absolute;top:-13px;left:-13px;background:#272727;border:1px solid rgba(255, 255, 255, 0.5);width:20px;height:20px;line-height:20px;text-align:center;color:#ccc;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;font-size:12px;cursor:pointer;-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.4);-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.4);box-shadow:0 1px 1px rgba(0, 0, 0, 0.4);}
#view-body-editor .note .border{position:absolute;top:-1px;left:-1px;border:1px solid rgba(0, 0, 0, 0.4);-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;width:100%;height:100%;}
#view-body-editor .note .overlay{position:absolute;top:0;left:0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;width:100%;height:100%;cursor:move;}
#view-body-editor .note .frm-note{position:absolute;top:30px;width:330px;height:200px;background:#272727;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;color:#ccc;padding:15px;font-size:12px;-moz-box-shadow:0 2px 3px #000000;-webkit-box-shadow:0 2px 3px #000000;box-shadow:0 2px 3px #000000;}
#view-body-editor .note form{width:100%;position:relative;float:left;}
#view-body-editor .note form p{float:left;clear:both;width:100%;margin-bottom:7px;}
#view-body-editor .note form textarea{float:left;position:relative;width:318px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;border:1px solid #000;height:100px;padding:5px;resize:none;}
#view-body-editor .note form label{width:72px;font-weight:bold;position:relative;top:4px;float:left;}
#view-body-editor .note form select{width:170px;position:relative;float:left;margin-left:10px;}
#view-body-editor .note form .btn-close-task{position:relative;float:left;margin-left:20px;top:4px;}
#view-body-editor .note form .group-cta{position:relative;top:15px;width:327px;}
#view-body-editor .note form .btn-save{position:relative;float:left;}
#view-body-editor .note form .btn-cancel{position:relative;float:left;margin-left:20px;}
#view-body-editor .note form .btn-delete{position:relative;float:right;}
.ui-resizable{position:relative;}
.ui-resizable-handle{position:absolute;font-size:0.1px;z-index:99999;display:block;}
.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none;}
.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0;}
.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0;}
.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%;}
.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%;}
.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px;}
.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px;}
.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px;}
.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px;}
.modal{width:840px;height:460px;margin-left:-420px;background:#000;-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.5);-webkit-box-shadow:0 1px 5px rgba(0, 0, 0, 0.5);box-shadow:0 1px 5px rgba(0, 0, 0, 0.5);position:relative;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.modal-title{position:absolute;top:20px;left:20px;font-weight:bold;font-size:26px;color:#272727;}
.modal-error{position:absolute;top:20px;left:0;width:100%;text-align:center;font-size:22px;color:#d31b1b;display:none;}
.modal-error img{position:relative;top:3px;margin-right:5px;}
.modal-close.btn{position:absolute;top:20px;right:20px;font-size:24px;color:#272727;}
.modal form{position:absolute;top:100px;left:20px;}
.modal label{color:#000;width:175px;text-align:right;float:left;height:58px;font-size:24px;margin-right:25px;position:relative;top:-8px;}
.modal input[type=text],.modal input[type=email]{background:#f3f3f3;border:1px solid #eee;-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.5) inset;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.5) inset;box-shadow:0 1px 2px rgba(0, 0, 0, 0.5) inset;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;width:529px;height:58px;color:#222;padding:5px 6px 0;position:relative;top:-16px;font-size:28px;}
.modal input[type=text]:focus,.modal input[type=email]:focus{border-color:#247DC8;}
.file-input{position:relative;}
input.file{position:absolute;left:429px;top:-18px;height:58px;-moz-opacity:0;opacity:0;z-index:2;}
.fakefile{position:absolute;top:0;left:200px;z-index:1;}
.modal .fakefile input{background:url(../img/bg-input-file.png) no-repeat;width:484px;height:58px;color:#222;padding:5px 6px 0;position:relative;top:-16px;font-size:28px;}
.modal .fakefile input:focus{background-image:url(../img/bg-input-file-focus.png);}
.modal .fakefile img{position:absolute;top:0;right:-45px;}
.modal p,.modal .file-input-container{float:left;clear:both;margin-bottom:10px;position:relative;}
.modal textarea{background:#f3f3f3;border:1px solid #eee;-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.5) inset;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.5) inset;box-shadow:0 1px 2px rgba(0, 0, 0, 0.5) inset;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;width:529px;height:229px;color:#222;padding:5px 6px 9px;position:relative;top:-16px;font:13px Arial,Helvetica,sans-serif;resize:none;}
.modal textarea.small{width:532px;height:169px;color:#222;padding:5px 6px 9px;position:relative;top:-16px;font-size:28px;}
.modal textarea:focus{border-color:#247DC8;}
.modal input[type=checkbox]{position:relative;top:5px;left:3px;}
.modal .frm-btn-submit{float:right;clear:both;}
.modal.modal-view-add-state{height:250px;}
.modal.modal-view-add-state input[type=submit]{bottom:-30px;}
.modal.modal-view-delete{width:480px;height:200px;margin-left:-240px;}
.modal-view-delete form{top:100px;left:80px;}
a.frm-delete-yes{background:#ffffff url(../img/icon-accept.png) no-repeat 10px 5px;font-size:36px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;float:left;height:60px;line-height:60px;text-indent:70px;width:140px;border:1px solid rgba(0, 0, 0, 0.15);}
a.frm-delete-yes:hover{background-color:#429F05;color:#fff;border:1px solid rgba(0, 0, 0, 0.15);}
a.frm-delete-no{background:#fefefe url(../img/icon-cancel.png) no-repeat 10px 5px;font-size:36px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;float:left;height:60px;line-height:60px;text-indent:70px;width:140px;border:1px solid rgba(0, 0, 0, 0.15);margin-left:40px;}
a.frm-delete-no:hover{background-color:#9A1E05;color:#fff;border:1px solid rgba(0, 0, 0, 0.15);}
.error{position:absolute;top:21px;text-align:center;right:570px;width:165px;padding:5px;color:#fff;background:#DF4729;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;display:block;font-size:12px;line-height:18px;display:none;}
.ui-widget-content{border:1px solid #aaa;}
.ui-progressbar{height:2em;text-align:left;}
.ui-progressbar .ui-progressbar-value{margin:-1px;height:100%;background-image:url(../img/progress-bar-bg.gif);}
.icon-folder{background:url(../img/icon-folder.png) no-repeat;width:45px;height:30px;}
.icon-folder-add{background:url(../img/icon-folder-add.png) no-repeat;width:48px;height:30px;}
.icon-add{background:url(../img/icon-add.png) no-repeat;width:26px;height:26px;}
.icon-add-small{background:url(../img/icon-add-small.png) no-repeat;width:21px;height:21px;}
.icon-delete{background:url(../img/icon-delete.png) no-repeat 0 2px;width:14px;height:13px;}
.icon-check{background:url(../img/icon-check.png) no-repeat;height:16px;}
.icon-view{background:url(../img/icon-view.png) no-repeat;width:28px;height:33px;}
.icon-view-add{background:url(../img/icon-view-add.png) no-repeat;width:33px;height:38px;line-height:38px;top:19px;}
.icon-view-small{background:url(../img/icon-view-small.png) no-repeat;height:19px;}
.icon-states{background:url(../img/icon-states.png) no-repeat;height:17px;}
.icon-states-add{background:url(../img/icon-states-add.png) no-repeat;height:17px;}
.icon-settings{background:url(../img/icon-settings.png) no-repeat;width:31px;height:30px;}
.icon-edit{background:url(../img/icon-edit.png) no-repeat;height:15px;}
.icon-close{background:url(../img/icon-close.png) no-repeat;height:21px;}
.icon-warning{background:url(../img/icon-warning.png) no-repeat;height:22px;}
.icon-attachment{background:url(../img/icon-attachment.png) no-repeat;height:40px;}
.icon-attachment-add{background:url(../img/icon-attachment-add.png) no-repeat;height:40px;}
.btn{background-image:-moz-linear-gradient(center bottom, #efefef 0%, #fefefe 100%);background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, #efefef), color-stop(1, #fefefe));display:inline-block;padding:5px 10px;color:#272727;text-decoration:none;font-weight:bold;line-height:1;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);text-shadow:0 -1px 1px rbga(0, 0, 0, 0.25);border-bottom:1px solid rgba(0, 0, 0, 0.25);position:relative;cursor:pointer;}
a.btn.on,a.btn:hover{border-bottom:none;-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.5) inset;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.5) inset;box-shadow:0 1px 2px rgba(0, 0, 0, 0.5) inset;padding:5px 10px;}
a.btn:active{margin-top:1px;}
.btn img{position:relative;top:2px;left:-3px;}
