<li>
	<a class="btn-img dp" href="#/{{path}}">
		<img src="/resources/img/fpo-comp-thumb.jpg" alt="" />
	</a>
	<a class="btn-delete delete btn-modal modal-view-delete" href="">Delete</a>						
	<div class="detail">
		<h2 class="editable">{{label}}</h2>
		{{#tasks}}
		<p class="view-info">
			{{views}} views
		</p>
		<div class="progress-bar">
			<div class="progress-value">
				<span class="value">{{completed/total}}</span>
				<span class="percentage-sign">%</span>
			</div>
			<p class="task-info">
				<span class="tasks-completed">{{completed}}</span>/<span class="tasks-total">{{total}}</span>
			</p>					
		</div>						
		{{/tasks}}			
		<div class="description editable-textarea">
			{{description}}
		</div>
	</div>
</li>