<li>
	<a class="btn-img dp" href="#/{{path}}">
		<img src="/resources/img/fpo-comp-thumb.jpg" alt="" />
	</a>
	<a class="btn-delete" href="">Delete</a>						
	<h2 class="">{{label}}</h2>
	{{#tasks}}
	<p class="view-info">
		{{views}} views
	</p>
	<div class="progress-bar">
		<div class="progress-value">
			<span class="value">34</span>
			<span class="percentage-sign">%</span>
		</div>
		<p class="task-info">
			<span class="tasks-completed">{{completed}}</span>/<span class="tasks-total">{{total}}</span>
		</p>					
	</div>						
	{{/tasks}}			
	<div class="description">
		<p>{{description}}</p>
	</div>
</li>